[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web3 = "6.5.0"
python-dotenv = "1.0.0"
obs_shared={git = "https://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@github.com/danpinkB/currencies_obs_shared.git", editable = true}
[dev-packages]

[requires]
python_version = "3.10.12"
